<footer>
  <div class="links">
    <ul class="links__social-media">
      <li>
        <a href="https://linkedin.com/in/doug-brum/" title="Linkedin"
          ><img src="assets/brands/linkedin.svg" alt="Linkedin"
        /></a>
      </li>
      <li>
        <a href="https://github.com/dougmab" title="Github"
          ><img src="assets/brands/github.svg" alt="Github"
        /></a>
      </li>
      <li>
        <a href="https://x.com/DougdotBin" title="X"
          ><img src="assets/brands/x.svg" alt="X"
        /></a>
      </li>
      <li>
        <a href="mailto:douglas.mateus2005@gmail.com" title="Email"
          ><img src="assets/brands/gmail.svg" alt="Email"
        /></a>
      </li>
    </ul>
    <a href="https://github.com/dougmab/rockis-cookin" class="links__repo">
      <img src="assets/brands/github.svg" alt="" />
      Repositório
    </a>
  </div>
  <p>Feito com ❤️ por Douglas Brum</p>
</footer>
