.big-card {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px;

  .big-card__img-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50%;
    max-height: 20vw;
    border-radius: 15px 15px 0 0;
  }

  .big-card__info {
    padding: 10px;
    color: var(--background-color);
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50%;

    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    p {
      text-align: justify;
      font-size: 2rem;
    }
  }
}
